<mat-card class="form-container">
    <mat-card-content class="form">
        <h1>Novo cadastro</h1>
        <form [formGroup]="formulario" class="formulario">

            <!-- Campo nome -->
            <mat-form-field appearance="fill" class="form-group">
                <mat-label>Nome</mat-label>
                <input matInput type="text" formControlName="nome" placeholder="Seu nome completo" required>
                @if(formulario.get('nome')?.hasError('required') && formulario.get('nome')?.touched){
                <mat-error> Campo obrigatório</mat-error>
                }
            </mat-form-field>

            <!-- Campo email -->
            <mat-form-field appearance="fill" class="form-group">
                <mat-label>Email</mat-label>
                <input matInput type="email" formControlName="email" placeholder="email@exemplo.com" required>
                @if (formulario.get('email')?.hasError('required') && formulario.get('email')?.touched){
                <mat-error>Campo obrigatório</mat-error> }
            </mat-form-field>

            <!-- Campo data de nascimento -->
            <mat-form-field appearance="fill" class="form-group">
                <mat-label>Data de nascimento</mat-label>
                <input matInput type="date" min="1900-01-01" max="2025-05-01" formControlName="dataNascimento"
                    placeholder="Sua data de nascimento" required>
                @if (formulario.get('dataNascimento')?.hasError('required') &&
                formulario.get('dataNascimento')?.touched){
                <mat-error>Campo obrigatório</mat-error>
                }
            </mat-form-field>

            <!-- Campo cpf -->
            <mat-form-field appearance="fill" class="form-group">
                <mat-label>CPF</mat-label>
                <input matInput type="text" formControlName="cpf" mask="000.000.000-00" placeholder="Seu CPF" required>
                @if (formulario.get('cpf')?.hasError('required') && formulario.get('cpf')?.touched){
                <mat-error>Campo obrigatório</mat-error>
                }
            </mat-form-field>

            <!-- Campo cep -->
            <mat-form-field appearance="fill" class="form-group">
                <mat-label>CEP</mat-label>
                <input matInput type="text" formControlName="cep" mask="00000-000" placeholder="Seu CEP" required>
                @if (formulario.get('cep')?.hasError('required') && formulario.get('cep')?.touched){
                <mat-error>Campo obrigatório</mat-error>
                }
            </mat-form-field>

            <!-- Campo logradouro -->
            <div class="coluna-endereco">
                <mat-form-field appearance="fill" class="form-group">
                    <mat-label>Logradouro</mat-label>
                    <input matInput type="text" formControlName="logradouro" placeholder="Logradouro" required>
                </mat-form-field>

                <!-- Campo bairro -->
                <mat-form-field appearence="fill" class="form-group">
                    <mat-label>Bairro</mat-label>
                    <input matInput type="text" formControlName="bairro" placeholder="bairro" required>
                </mat-form-field>

                <!-- Campo cidade -->
                <mat-form-field appearance="fill" class="form-group">
                    <mat-label>Cidade</mat-label>
                    <input matInput type="text" formControlName="cidade" placeholder="Sua cidade" required>
                </mat-form-field>

                <!-- Campo estado-->
                <mat-form-field appearence="fill" class="form-group">
                    <mat-label>Estado</mat-label>
                    <input matInput type="text" formControlName="estado" placeholder="Estado" required>
                </mat-form-field>
            </div>

        </form>
        <div class="botao-cadastro">
            <button class="cadastrar" (click)="enviarFormulario()">Cadastrar</button>
        </div>
    </mat-card-content>
</mat-card>